#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #333333;
  font-family: Roboto;
}

#statusText {
  position: absolute;
  bottom: 60%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 38px;
  width: 128px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0;
  -webkit-user-select: none;
}

#moodText {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 38px;
  width: 128px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0;
  -webkit-user-select: none;
}

a{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}



